{% extends "base.html" %}
{% block content %}

<div class="container mt-5" style="max-width: 600px;">
    <div class="card shadow p-4 text-center">

        <h2 class="fw-bold text-danger">Delete Job?</h2>
        <p class="text-muted">
            Are you sure you want to delete<br>
            <strong>{{ job.title }}</strong> at <strong>{{ job.company }}</strong>?
        </p>

        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger w-100 mb-2">Yes, Delete</button>
        </form>

        <a class="btn btn-secondary w-100" href="{% url 'job_detail' job.id %}">
            Cancel
        </a>
    </div>
</div>

{% endblock %}
